
@model List<Books>// taking books object .
<div class="container mt-10">
    <!--ViewBag.data.Id-->
    <div class="row my-2">
        @{
            for (int i = 0; i < Model.Count; i++)
            {
                var Book = Model[i];//instantiating each object
                            <div class="col-md-4 mx-3 mb-2  shadow-sm card" style="padding:0;width: 18rem;background:#f5f5f5">
                                <div class="header shadow-sm " style="height:250px;border-radius:5px"><img alt="Image Area" src="@Book.Img" style="margin:2px;border-radius:5px" height="240" width="280"/>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">@Book.Title</h5>
                                    <p class="card-text">@Book.Description</p>
                                    <p class="card-text fw-bold">@Book.Author</p>
                                    <a asp-controller="Home"  asp-action="Book" 
                            asp-route-id="@Book.Id" class="btn btn-outline-primary">Check Details</a>
                                </div>
                            </div>
            }
        }
    </div>
</div>
